.container-list {
    margin: 30px 30px;
    width: auto;
    text-align: center;
    grid: inline;
}

.todo {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}


.header {
    font-weight: 500;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    border-bottom: 1px solid black;
    
}

.delete {
    display: inline;
}

