.App {
  /* display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-link {
  color: #61dafb;
}

.container {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .container {
    display: inline-block;
    justify-content: center;
  }
}